//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/usr/share/rofi/themes/solarized-darker.rasi"
//@theme "/usr/share/rofi/themes/onedark.rasi"
//@theme "/usr/share/rofi/themes/pers-onedark.rasi"
//@theme "/usr/share/rofi/themes/pers-onedark.rasi"
@theme "/usr/share/rofi/themes/pers-onedark.rasi"
